

<h2>About US</h2>
<p style="font-family:'Times New Roman', Times, serif">
    Restaurant Blatnice is one of the oldest Czech restaurant in Prague center, which offers traditional Czech specialties which you can enjoyed in the pleasant air conditioned ambience.

    The traditional Czech restaurant, of course, also include classic Czech wine, so we can offer a wide selection of Moravian bottled wines and complete selection of barrel wines .This wines are imported by us directly from Moravian vineyards and from Blatel, as based in St. Blatnice. Anthony, who continues the long tradition of wine growing.

    With traditional Czech food must drink the typical Czech beer and so we offer the most famous Czech beer brand Pilsner Urquell and not just light "Twelve", but also unpasteurized light Gambrinus "Ten", but also a black Kozel. Since 2002, Pilsner Urquell is ranked us among the VIP‘S restaurants, which until 2005 are only nine in Prague.

    Blatnice restaurant has a capacity of 123 seats and 35-40 seats in the summer garden. In addition to lunch and dinner, the restaurant premises, for example, to organize banquets, graduations, weddings or birthday celebrations.
</p>

<img  src="~/images.png" />

