@model RESTAURANT_MANAGEMENT.Models.AddCustomer

  @{
    <style>
        div {
            width: fit-content;
            background-color: lightgray;
        }
    </style>
      <h4 style="text-align:center">Registration  </h4>
    
     <div class="row">   
           <div class="col md-9">
                <form asp-controller="Home" asp-action="AddCustomer" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomerContact" class="control-label"></label>
                        <input asp-for="CustomerContact" class="form-control" />
                        <span asp-validation-for="CustomerContact" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomerAddress" class="control-label"></label>
                        <input asp-for="CustomerAddress" class="form-control" />
                        <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                    </div>

                   
                    <br>
                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-primary" />
                    </div>
                </form>
           </div>
     </div>
    <div>
        <a asp-action="AllCustomer">Back to List</a>
    </div>

   }
