@{    
    <h2 style="text-align:center; color:lightcoral">CUSTOMERS</h2>
    <style>
        table, th, td {
            border: 1px solid black;
           
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            background-color: lightgoldenrodyellow;
        }
    </style>    
    <table border="1" width="100%">
       
        <tr>
            <th >Id</th>
            <th >Name</th>
            <th >Contact</th>
            <th >Address</th>
            
        </tr>
      @foreach (AllCustomerDetails item in Model)
       {
        <tr>
            <td>@item.CustomerId</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerContact</td>
            <td>@item.CustomerAddress</td>
            
        </tr>
        }             
    </table>
    <br>
    <a asp-action="AddCustomer" style="text-decoration:none"> <button> New Register </button> </a>
   
    <a asp-action="DeleteCustomer" style="text-decoration:none"> <button> DELETE </button> </a>             

}


  