@{
    ViewData["Title"] = "Home Page";
}

<div class="container bg-gradient text-center w-100 h-100">
    <h2 class="display-4">Welcome To My Mobile Shop</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!-- slider -->

<div class="container my-5 wow animate__animated animate__zoomIn ">
    <div id="sliderId" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#sliderId" data-bs-slide-to="10" aria-label="Slide 11"></button>
        </div>
        <div class="carousel-inner" data-bs-ride="false">
            <div class="carousel-item active">
                <img src="banner1.jpg" class="d-block w-100 " alt="Phone">
            </div>
            <div class="carousel-item">
                <img src="banner2.jpg" class="d-block w-100 " alt="cookies">
            </div>
            <div class="carousel-item">
                <img src="banner3.jpg" class="d-block w-100" alt="dry-fruits">
            </div>
            <div class="carousel-item">
                <img src="banner4.jpg" class="d-block w-100" alt="home-made-achar">
            </div>
            <div class="carousel-item">
                <img src="banner5.jpg" class="d-block w-100" alt="indore-namkeens">
            </div>
            <div class="carousel-item">
                <img src="banner6.jpg" class="d-block w-100" alt="kalakand">
            </div>
            <div class="carousel-item ">
                <img src="banner7.jpg" class="d-block w-100 " alt="cookies">
            </div>
            <div class="carousel-item">
                <img src="banner8.jpg" class="d-block w-100" alt="nan-khatai">
            </div>
            <div class="carousel-item">
                <img src="banner9.jpg" class="d-block w-100" alt="panchhi-petha">
            </div>
            <div class="carousel-item">
                <img src="banner10.jpg" class="d-block w-100" alt="patisa">
            </div>
            <div class="carousel-item">
                <img src="banner12.jpg" class="d-block w-100" alt="pure-desi-cow-ghee">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#sliderId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#sliderId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

