
@{
    ViewData["Title"] = "SuccessPage";
}
<style>

        .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>


    <div class="container-fluid align-content-center">
    <img src="~/imgbg.jpg" alt="Snow" style="width:100%; height:fit-content "/>
    <h1 style="color:darkgreen" class="centered">Your Operation is Successfully Executed </h1>
   
        
    </div>

