@{
    ViewData["Title"] = "GetCourse";
}
<style>
    table, th, td {
        border: 1px solid purple;
        border-collapse: collapse;
    }

    th, td {
        background-color: pink;
    }

    body {
        background-color: blanchedalmond;
    }

   

</style>


<table border="1" align="center">
    <tr>
        <th>
            CourseId
        </th> &nbsp;
        <th>
            CourseName
        </th> &nbsp;
        <th>Affiliated by</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.courseid</td>
            <td>@item.CourseName</td>
            <td>@item.AffiliatedBY</td>
        </tr>
    }

</table>
<div class="button" align="center">
    <a href="AddCourse"><button>Add Course</button></a>
</div>