@{
    ViewData["Title"] = "GetTeacher";
}
<style>
    table, th, td {
        border: 1px solid purple;
        border-collapse: collapse;
    }

    th, td {
        background-color: pink;
    }
</style>

<div>
    <a href="AddTeacher">Add Teacher</a>
</div>
<div>
    <a href="DeleteTeacher">Remove Teacher</a>
</div>
<table border="1">
    <tr>
        <th>
            TeacherId
        </th> &nbsp;
        <th>
            TeacherName
        </th> &nbsp;
        <th>Age</th>
        <th>Department</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TeacherId</td>
            <td>@item.TeacherName</td>
            <td>@item.Age</td>
            <td>@item.Department</td>
        </tr>
    }

</table>