@{
    ViewData["Title"] = "GetTeacher";
}
<style>

    body {
        background-color:blanchedalmond;
    }
    table, th, td {
        border: 1px solid purple;
        border-collapse: collapse;
    }

    th, td {
        background-color: pink;
    }

</style>

<body>

<table border="1" align="center" >
    <tr>
        <th>
            TeacherId
        </th> &nbsp;
        <th>
            TeacherName
        </th> &nbsp;
        <th>Age</th>
        <th>Department</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TeacherId</td>
            <td>@item.TeacherName</td>
            <td>@item.Age</td>
            <td>@item.Department</td>
        </tr>
    }

</table>
<div class="button" align="center">
    <a href="AddTeacher"><button> AddTeacher</button></a>
    <a href="DeleteTeacher"><button>RemoveTeacher</button></a>
</div>
</body>
