@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
   background-image:url("schoolbg.jpg");
    }
</style>
<div class="text-center">
    <h1 class="display-4">School Management System</h1>
    <p>WELCOME ADMIN </p>
</div>
