@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
   background-image:url("schoolbg.jpg");
    }
</style>
<div class="text-center">
    <h1 class="display-4">SCHOOL MANAGEMENT SYSTEM</h1>
    <p>WELCOME ADMIN </p
        <p>This site is admin platform and contain senstive data about school </p>
</div>
