@{
    ViewData["Title"] = "Login";
}
<style>
    body {
        background-color: blanchedalmond;
    }
</style>
<form method="post" asp-controller="Home" asp-action="Login">
    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" value="" />
            @Html.ValidationMessage("email")
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" value="" />
            @Html.ValidationMessage("password")
        </div>

        <label>&nbsp;</label>
        <input type="submit" value="Submit" class="submit" />
       
    </fieldset>
</form>  