<style>
    body {
        background: -webkit-linear-gradient(left, #25c481, #25b7c4);
        background: linear-gradient(to right, #25c481, #25b7c4);
        font-family: 'Roboto', sans-serif;
    }

</style>

<div class="text-center">
    &nbsp;
    &nbsp;
    <h1 class="display-4" style="color:white">About Page</h1>
    <p style="color:white">
        The library management system software should be user-friendly and cost effective. It should be in tune with the establishment’s needs and compatible with the existing technology.


        A library should use a software system that helps in effectively managing the data in a library. The library database includes all relevant information regarding assets to membership details. The software records details on all reading and reference material available for reading and lending. Membership information, lending details and renewal dates are managed by the software.
    </p>
    <img src="/img1.jpg" alt="img">

</div>
