@model LibraryManagementSystem.Models.Member
@{


	<style>

		body {
			width: 100%;
			height: 100%;
			margin: 0;
		}

		.wrapper {
			max-width: 800px;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
		}
		/*
			* FIELD > INPUT
			*/
		.field {
			position: relative;
			max-width: 300px;
			margin-bottom: 30px;
		}

			.field input,
			.filed input:empty {
				width: 100%;
				border: none;
				border-right: 1px solid #999;
				border-bottom: 1px solid #999;
				outline: none;
				padding: 6px 0;
				transition: all .2s ease;
			}

				.field input:focus {
					border-color: transparent;
				}

				.field label,
				.field input:empty ~ label {
					position: absolute;
					top: 50%;
					left: 5px;
					font-size: 16px;
					color: #999;
					transform: translateY(-50%);
					transition: all .2s ease;
				}

				.field input:focus ~ label,
				.field input:valid ~ label {
					top: 0px;
					left: 0;
					font-size: 12px;
					color: #333;
				}
			/*
			* FIELD > BAR
			*/
			.field .bar {
				display: flex;
				/*Start animation at center*/
				justify-content: center;
			}

		.bar:before, .bar:after {
			content: '';
			height: 2px;
			width: 0;
			background: #3498db;
			transition: all .2s ease;
		}

		.field .bar:before {
			left: 50%;
		}

		.filed .bar:after {
			right: 50%;
		}

		.field input:focus ~ .bar:before,
		.field input:focus ~ .bar:after {
			width: 50%;
		}
	</style>



	<center><h1>Add Member</h1></center>
	<hr />

	<form action="AddMember" method="post" class="wrapper">
		<div class="field">
			<input type="text" id="memberName" name="memberName" required>
			<label for="memberName">Member Name(*)</label>
			<span class="bar"></span>
		</div>
		<div class="field">
			<input type="text" id="address" name="address">
			<label for="address">Address</label>
			<span class="bar"></span>
		</div>
		<div class="field">
			<input type="text" id="phone" name="phone">
			<label for="phone">Phone</label>
			<span class="bar"></span>
		</div>
		<button type="submit">Submit</button>
		<br/>
		<a asp-action="Member"><h1>Back to Member Details</h1> </a>
		<b>@ViewBag.message</b>
	</form>
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
        }
